development:
  clients:
    default:
      database: mongo_hirer_dev
      hosts:
        - localhost:27017
      pool_size: 5
      timeout: 5

#development:
#  host: localhost
#  database: cool_demo

#production:
#  host: prod_host
#  port: 1000
#  username: main
#  password: blabla
#  database: mongo_hirer_prod