%html
  %head
    -#%link{:rel => "shortcut icon", :href => "/public/favicon.ico", :type => "image/x-icon"}
    -#%link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", :rel => "stylesheet"}
    -#%link{:rel => "shortcut icon", :href => "/favicon.ico"}

    -#= favicon_link_tag
    %h2  Hi! This is my_layout in routes/view/

  %body
    = yield
