/script src="/jquery.min.js"
/script src="/Gvapp.js"
/
/form#sayHey action="/form" method="post"
/  |  Name:
/  input type="text" name="personName"
/  br
/  input type="submit"
/#output

h2  Hi! Welcome!
p  You're in a Sinatra now!
